<div class="modal fade"
     id="committeeModal"
     tabindex="-1"
     aria-hidden="true">

    <div class="modal-dialog modal-xl modal-dialog-centered">

        <div class="modal-content">

            <div class="modal-header">

                <h4 class="mb-0">
                    🏅 Jawatan &amp; Keahlian
                </h4>

                <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close">
                </button>

            </div>

            <div class="modal-body">

                <h5 id="committeeNama"
                    class="mb-4 fw-bold">
                </h5>

                <div id="committeeContent">

                </div>

            </div>

        </div>

    </div>

</div>